.stock_option_button {
  margin: 0 0 20px 0;
}

.stock_option_button .stock_quotes {
  display: flex;
  gap: 5px;
  margin: 0 0 10px 0;
  align-items: flex-end;
}

.stock_option_button h1 {
  font-size: 42px;
  color: #424c5e;
}

.stock_option_button p.gain {
  color: #0f9d58;
  font-size: 24px;
}

.stock_option_button p.loss {
  color: #a52714;
  font-size: 24px;
}

.stock_option_button .stock_options {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #424c5e;
  text-transform: capitalize;
}

.stock_options a {
  padding: 5px 10px;
  border-radius: 5px;
}

.stock_options button.active a {
  background-color: #4f39f6;
  color: #fff;
}
