* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*:focus-visible {
  outline: none;
}
/* Ationbtn.js */

dl {
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}

dd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
